@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Animaciones personalizadas Alturas Camposanto === */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out forwards;
}


body {
  font-family: 'Lato', sans-serif;
}
